style. 
  body {
    font-family: sans-serif;
  }
  .app-table th, .app-table td {
    padding: 0.25em;
  }
  .app-table, .app-table td {
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
  }
  .app-table th {
    border-right: 1px solid mediumslateblue;
  }
  .app-table th:last-child, .app-table td:last-child {
    border-right: none;
  }
  .app-table tr:last-child td {
    border-bottom: none;
  }
  .app-table tr:first-child {
    color: white;
    background-color: mediumslateblue;
  }
  .app-table tr>td:first-child {
    background-color: #dbdbff;
  }
  .app-num {
    text-align: right;
  }
  .app-btn {
    text-align: center;
  }